* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #003f87;
  cursor: pointer;
  border: 3px solid white;
  box-shadow: 0 2px 6px rgba(0,63,135,0.3);
}

input[type="range"]::-moz-range-thumb {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #003f87;
  cursor: pointer;
  border: 3px solid white;
  box-shadow: 0 2px 6px rgba(0,63,135,0.3);
}
